body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    background-image: url('Assets/Smooth wood seamless Texture.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.corkboard {
    background-image: url('Assets/Cork Seamless Texture.jpg');
    padding: 1.5em 3em;
    border: 7px solid dimgrey;
    border-radius: 5px;
}

.card-container {
    padding: 1em;
    color: #333;
}

.note-card {
    border: solid 1px black;
}

.note-title {
    text-align: center;
    background-color: navy;
    color: white;
    padding: .25em 0;
    width: 100%;
}

    .note-title a {
        color: white;
    }

        .note-title a:hover {
            color: #ccc;
            text-decoration: none;
        }

    .note-title i {
        color: #ccc;
    }

        .note-title i:hover {
            color: white;
        }

.note-date {
    text-align: right;
}

.note-body {
    padding: .33em;
    min-height: 185px;
    background-image: url('Assets/Paper Seamless Texture.jpg');
    background-size: 100%;
    position: relative;
}

.note-options {
    position: absolute;
    bottom: 0;
    right: .25em;
}